@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: "Inter Light";

    --background: 0 0% 88%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 88%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 88%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 58%;
    --secondary: 240 4.8% 88.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 78.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 98.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 100%, 67%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.8% 76.0%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --deemphasis: 0 0% 64%;
    --radius: 0.5rem;
    --tile-start-rgb: 239, 245, 249;
    --tile-end-rgb: 228, 232, 233;
    --tile-border: conic-gradient(
      #00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080
    );
  }

  :root.dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0, 0%, 2%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 100%, 67%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.react-flow {
  z-index: 100;
}

.dark .react-flow__background {
  background: black;
  color: black;
}

.light .react-flow__background {
  background: white;
  color: white;
}

/* Reactflow  */
.react-flow__attribution {
  display:none
}

.react-flow__handle {
  width: 20px;
  height: 20px;
  background-color: black;
  /* border-radius: 4px; */
}

.react-flow__pane {
  cursor: default !important;
  overflow-y: visible;
}

.react-flow__minimap {
  background: hsl(var(--background)) !important;
}

.react-flow__minimap-mask {
  fill: hsl(var(--muted)) !important;
  opacity:75%;
  
}

.workflow-button {
  background: transparent;
  color: hsl(var(--accent-foreground));
  padding: 2;
  margin: 0;
}